#catFilter
{
    width: 60%;
    margin-left: 20%;
}

#selectorBlock
{
    margin-top: 25px;
}

#detailsTable
{
    width: 65%;
    margin-left:17.5%;
}

#detailsTable th
{
    width: 25%;
}

#detailsTable tr
{
    line-height: 10px;
}
#studentsTable
{
    width: 65%;
    margin-left:17.5%;
}

#studentsTable th
{
    width: 25%;
}

#studentsTable tr
{
    line-height: 10px;
}

#courseTable
{
    margin-bottom: 3%;
}

.reg-form
{
    width: 50%;
    margin-left: 25%;
}

.main-content
{
    padding: 2%;
}

img
{
    max-width: 100%;
    max-height: 100%;
}

#registerBtn
{
    margin-top: 25px;
}

#regForm
{
    background-color: aliceblue;
    margin-bottom: 5%;
    padding: 2%;
}

@media only screen and (max-width: 768px) {
    img 
    {
      display: none;
    }
  }

body
{
    background-color: azure;    
}

#addCourse
{
    background-color: aliceblue;
    width: 60%;
    margin-left: 20%;
}

#addCourse
{
    padding: 3%;
    display: none;
}

#editCourse
{
    padding: 3%;
    background-color: aliceblue;
}

#errorDiv
{
    display: none;
    background-color: mistyrose;
    color: red;
    padding: 2%;
    width: 50%;
    margin-left: 25%;
}